
<html>
<head>
    <title>500</title>
</head>
<body>
    <h1>Page unavailable</h1>
    </br>
    </br>
    {% load staticfiles %}
        <img src="{% static "500.jpg" %}" alt="404 image"/>
    </br>

    <p>Sorry, but the requested page is unavailable due to a server hiccup.</p>

    <p>Our engineers have been notified, so check back later.</p>

    <hr>
    
    </br>
        <a href="http://127.0.0.1:8000">
            Back to the Homepage &amp; see what can be done &raquo;
        </a>
</body>
</html>