<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>Book Information Site</h1>
    <h5>Build by Django 1.5.1</h5>
    <br/>
    <br/>
    {% block content %}
    {% endblock %}
    {% block footer %}
    <br/>
    <br/>
    <p>Thanks for visiting my site.</p>
    {% endblock %}
    </br>
    </br>
    <hr>
    <a href="http://127.0.0.1:8000">
        Back to the Homepage &amp; see what can be done &raquo;
    </a>
</body>
</html>