<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1><i>Welcome to EWP's Homepage!</i></h1>
    </br>
    <hr>
    </br>
    <h3>This is a sample page to learn Django.</h3>
    </br>
    <h3 style="color: red;">
        <b>Type URL to request different pages:</b>
    </h3>
    <h4>
        <p><i>.../<a href="http://127.0.0.1:8000/hello">hello</a></i></p>

        <p><i>.../<a href="http://127.0.0.1:8000/time">time</a>     or      <a href="http://127.0.0.1:8000/time/plus/5">/time/plus/</a></i></p>

        <p><i>.../<a href="http://127.0.0.1:8000/meta">meta</a></i></p>

        <p><i>.../<a href="http://127.0.0.1:8000/foo">foo</a>   or   <a href="http://127.0.0.1:8000/bar">/bar</a></i></p>

        <p><i>.../<a href="http://127.0.0.1:8000/mydata">mydata</a>   or   <a href="http://127.0.0.1:8000/mydata/birthday/ ">/mydata/birthday/</a>  or   <a href="http://127.0.0.1:8000/mydata/jan/05">/mydata/jan/05</a></i></p>

        <p><i>.../<a href="http://127.0.0.1:8000/search">search</a></i></p>

        <p><i>.../<a href="http://127.0.0.1:8000/contact">contact</a></i></p>

        <p><i>.../<a href="http://127.0.0.1:8000/publishers">publishers</a></i></p>

        <p><i>.../<a href="http://127.0.0.1:8000/myimage">myimage/</a></i></p>

        </br>
        <p><b>To manage the administration:</b></p>
        <p><i>.../<a href="http://127.0.0.1:8000/admin">admin</a></i></p>

    <h4>
    </br>
    <hr>
</body>
</html>

<a href="http://127.0.0.1:8000/hello"></a>