<html>
<head>
    <title>Search</title>
</head>
<body>
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- <form action="/search/" method="get"> -->
    <form action="" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
    </br>
    </br>
    <hr>
    <a href="http://127.0.0.1:8000">
        Back to the Homepage &amp; see what can be done &raquo;
    </a>
</body>
</html>